#about-info {
    min-height: 50vh;
}

#about img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px #000;
}

#about img:hover {
  width: 350px;
  transition: all .5s ease;
}

#about span:hover {
  color: #1622c9;
  filter: drop-shadow(0 0 0.75rem purple);
  text-shadow: 0 0 20px purple, 0 0 40px purple;
  transition: all 0.4s ease;
}

#about span {
  font-size: 18px;
  text-decoration: none;
  color: purple;
}

#about {
  background: #39007a; 
  padding-top: 50px;
padding-bottom: 50px;
}