                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     #C   ontact-info {
    min-height: 50vh;
}

#faq .accordion .faq-item #collapseOne .btn:hover {
    color: #200bdd;                                                                                             
    background: rgb(123, 2, 160);
}

#faq .accordion .faq-item #collapseTwo .btn:hover {
    color:  #190dc0;
    background: rgb(134, 2, 160);
}

#faq .accordion .faq-item #collapseThree  .btn:hover {
    color:  #0c0c0e;
    background: rgb(134, 2, 160);
}

#faq {                                                                                   
    background: #5a04bd; 
    padding-top: 50px;                                    
  padding-bottom: 50px;
  }

  #footer {
    color: #190964;
    background: #5a04bd;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         